<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>< BooGit /></title>

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Noto+Sans+Korean" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.css" />
  <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    body {
      font-family: "IBM Plex Sans", "Noto Sans CJK KR Regular";
    }
  </style>

</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <!--        <p class="mt-1 text-gray-600 dark:text-gray-400" th:text="${responseDTO.username}"></p>-->
    <div class="mt-4 flex justify-between">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900" th:text="${username} + ' 님의 서재'"></h2>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">도서 등록하기</button>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative" th:each="book : ${bookList}">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img th:src="@{${book.thumbnail}}" alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#" th:text="${book.title}">
                <span aria-hidden="true" class="absolute inset-0"></span>
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500" th:text="${book.author}"></p>
          </div>
          <p class="text-sm font-medium text-gray-900">♥</p>
        </div>
      </div>

      <!-- More products... -->

    </div>
  </div>
</div>

<script type="module" src ="/js/index.js" defer></script>
</body>
</html>